<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <h3 class="">Advanced search</h3>
      <%= form_tag search_gigs_path, method: :get do |f| %>
        <div class="form-group">
          <label>Search</label>
          <%= text_field_tag :search, nil, placeholder: "Developer, Accountant, etc.", class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label>Category</label>
          <%= select_tag :category, options_from_collection_for_select(Category.all, :id, :name), class: "form-control input-lg" %>
        </div>
        <div class="form-group">
          <label>Location</label>
          <%= text_field_tag :location, nil, placeholder: "Osaka, umeda, etc", class: "form-control input-lg" %>
        </div>
        <br>
        <%= submit_tag "Search", class: "btn btn-primary btn-block input-lg" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-9">
      <h3>Gigs
        <div class="pull-right">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Sort by
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to "Oldest", gigs_path(sort_by: "oldest") %></li>
              <li><%= link_to "Newest", gigs_path(sort_by: "newest") %></li>
              <li><%= link_to "Name", gigs_path(sort_by: "name") %></li>
            </ul>
          </div>
        </div>
      </h3>
      <table class="table table-striped" >
        <tbody>
          <% @gigs.each do |gig| %>
          <tr>
            <td class="col-md-6">
              <p>
                <%= link_to gig.name, gig %>
                <small class="label label-success"><%= number_to_currency(gig.budget, precision: 0) %></small>
              </p>
              <p><%= h truncate(gig.description, length: 500) %></p>
              <p>Skills: <%= gig.skills.map { |s| s.name }.join(", ") %></p>
            </td>
            <td>
              <%= gig.category.name %>
            </td>
            <td>
              <p><i class="fa fa-calendar"> <%= gig.created_at %></i></p>
              <p><i class="fa fa-map-marker"></i> <%= gig.location %></p>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="text-center">
      <%= paginate @gigs %>
    </div>
  </div>
</div>
